body {
  font-family: Lato, Didot, serif;
}

.App-header {
  margin: 30 px 0;
  background-color: #f3eadb;
}

.App-lupa {
  width: 100px;
  height: 100px;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

background {
  color: #f3eadb;
}
